body {
     font-size: 16px;
     line-height: 1;
}

textarea {
     background: transparent;
     border: none;
     resize: none;
}
textarea,
.jumbotron {
     color: black;
}

.jumbotron {
     text-align: center;
     background-color: transparent;
     border-radius: 0;
     border-bottom: 10px solid black;
}

.description {
     white-space: pre-wrap;
}
.past,
.present,
.future,
.saveBtn {
     color: white;
}

.past {
     background-color: red;
}

.present {
     background-color: green;
}

.future {
     background-color: gray;
}

.saveBtn {
     border-left: 1px solid black;
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     background-color: #06aed5;
     width: 100%;
}

.saveBtn i:hover {
     font-size: 20px;
     transition: all 0.3s ease-in-out;
}
.row {
     margin-bottom: 0.4em;
     border: 1px solid gray;
     border-radius: 0.5em;
     height: 80px;
     white-space: pre-wrap;
}
.time {
     background-color: #ffffff;
     color: #000000;
     border-top: 1px dashed #000000;
     padding-top: 10px;
}
